<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttd.purchase.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="com.zttd.purchase.model.Account">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="real_amount" jdbcType="DECIMAL" property="realAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account_no, user_id, real_amount, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zttd.purchase.model.Account">
    insert into t_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accountNo != null">
        account_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="realAmount != null">
        real_amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountNo != null">
        #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="realAmount != null">
        #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zttd.purchase.model.Account">
    update t_account
    <set>
      <if test="accountNo != null">
        account_no = #{accountNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="realAmount != null">
        real_amount = #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

 <!--  删除账户信息 -->
  <delete id="deleteByUserId" parameterType="int">
  	DELETE FROM t_account WHERE user_id=#{userId}
  </delete>

  <!--查询账户根据userId-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="int">
  	select 
    <include refid="Base_Column_List" />
    from t_account
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <!--修改余额-->
  <update id="updateAccountAmt" parameterType="map">
    update t_account
    <set>
      <if test="changeAmt != null">
        real_amount = real_amount + #{changeAmt,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据userId修改账户越-->
  <update id="updateAccountAmtByUserId" parameterType="map">
    UPDATE t_user u LEFT JOIN t_account a ON u.id = a.user_id
    SET a.real_amount = a.real_amount + #{changeAmt,jdbcType=DECIMAL}
    WHERE u.type='1' AND u.id=#{userId,jdbcType=INTEGER}
  </update>
</mapper>